<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="com.kaka.net.http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="com.kaka.net.http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="com.kaka.net.http://xmlns.jcp.org/xml/ns/javaee com.kaka.net.http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- ajax访问，当访问客户端与服务器的域名不一致时就存在跨域访问的问题 
    com.kaka.net.http://www.eclipse.org/jetty/documentation/current/cross-origin-filter.html
    -->
    <listener>
        <listener-class>com.com.kaka.net.http.core.InitListener</listener-class>
    </listener>

    <filter>
        <filter-name>cross-origin</filter-name>
        <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
        <init-param>
            <param-name>allowedOrigins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>allowedMethods</param-name>
            <param-value>GET,POST,OPTIONS,DELETE,PUT,HEAD</param-value>
        </init-param>
        <init-param>
            <param-name>allowCredentials</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>cross-origin</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>JsonApiServlet</servlet-name>
        <servlet-class>com.com.kaka.net.http.core.JsonApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JsonApiServlet</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
